.title{
  text-align: center;
}

.container{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.container > div {
  width: 100%;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 1%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.suivre {
  grid-column: 1;
  grid-row: 1;
  text-align:center
}

.trahir {
  grid-column: 2;
  grid-row: 1;
  text-align:center
}

.ff {
  grid-column: 3;
  grid-row: 1;
  text-align:center
}

.changePlayer{
  width: 15%;
  padding-left: 1%;
}
