<tui-root>
  <html>
  <body>
  <h1 class="tui-text_h2" class="title"> Yo les bros bienvenue sur l'app dilemme du prisonnier</h1>

  <h2 class="title">
    Partie n°:{{nbTurn}}
  </h2>

  <div class="title">
    <h2> Au tour de
      <a tuiTag
         target="_blank"
         [value]="turn">
      </a>
    </h2>
  </div>

  <div class="title">
    <h2> vous etes le joueur
      <a tuiTag
         target="_blank"
         [value]="player.toString()">
      </a>
      <button
        class="changePlayer"
        tuiButton
        type="button"
        (click)="restart()"> Recommencer partie avec 2 joueurs</button>
    </h2>

  </div>

  <div class="container">
    <div>
      <h2>
        score J1
        <a *ngIf="player===1">
          (vous)
        </a>
        <br>
        {{scoreJ1}}
      </h2>
    </div>
    <div>
      <h2>
        score J2
        <a *ngIf="player===2">
          (vous)
        </a>
        <br>
        {{scoreJ2}}

      </h2>
    </div>
  </div>

  <div class="wrapper">
    <div class="suivre">
      <button
        class="button"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        [disabled]="(player===2 && turn === 'joueur 1') || (player===1 && turn === 'joueur 2')"
        (click)="follow($event)"
      >
        Suivre
      </button>
    </div>

    <div class="trahir">
      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        [disabled]="(player===2 && turn === 'joueur 1') || (player===1 && turn === 'joueur 2')"
        (click)="betray($event)"
      >
        Trahir
      </button>
    </div>

    <div class="ff">
      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        [disabled]="(player===2 && turn === 'joueur 1') || (player===1 && turn === 'joueur 2')"
        (click)="surrend($event)"
      >
        Abandonner
      </button>
    </div>
  </div>
  </body>
  </html>
</tui-root>
